body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.93);
}

.container-fluid {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.image {
	height: 90%;
}

.back {
	position: absolute;
	height: 97.5%;
	opacity: 0.35;
	z-index: -1;
}